header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem 1.875rem;
    background-color: #35b890;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: verdana;
}