.container {
    display: flex;
    min-height: 100vh;
}

aside {
    width: 12.5rem; 
    background: #f4f4f4;
    padding: 1.25rem;
    color: rgb(168, 0, 0);
}

main {
    background: #f4f4f4;
    flex: 1;
    padding: 1.25rem; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    main {
        order: 2;
    }

    aside {
        width: 100%;
    }
}

@media (min-width: 769px){
    .container {
        flex-direction: row;
    }
}